@charset "utf-8";
/* CSS Document */

#registro-categorias {
	margin: auto;
}

@media (min-width: 768px) {
  #registro-categorias {
	width: 60%;
	margin: 4px;
  }
}

@media (min-width: 992px) {
  #registro-categorias {
	width: 50%;
  }
}