@charset "utf-8";
/* CSS Document */

#registro-personal {
	margin: auto;
}

@media (min-width: 768px) {
	#registro-personal {
		margin: 4px;
		width: 60%;
  }
}

@media (min-width: 992px) {
  #registro-personal {
	width: 50%;
  }
}