@charset"utf-8";
/* CSS Document */
html, body {
  min-height: 100%;
  margin: 0;
}

.bi {
  fill: currentColor;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 50%; /* Ancho máximo para pantallas pequeñas */
  background-color: #343a40;
  padding-top: 60px;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease, visibility 0.3s ease;
}

#sidebarToggle {
	width: 25vw;
	margin: 16px;
}

#sidebarInsideToggle {
	width: 100%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 8px;
}

.sidebar.show {
  transform: translateX(0);
  visibility: visible;
}

.main-content {
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* Telefonos ultra pequeños */
@media (max-width: 350px) {
	.sidebar{
		max-width: 70%;
	}
}

/* Telefonos medianos */
@media (min-width: 600px) {
	.sidebar{
		max-width: 40%;
	}
}

/* Tablets, laptops pequeñas */
@media (min-width: 768px) {
  .sidebar {
	max-width: 30%;
    transform: translateX(0);
    visibility: visible;
  }

  .main-content {
    margin-left: 30%; /* Ancho de la barra lateral  */
  }
	
  #sidebarInsideToggle {
		display: none;
	}
}

/* Laptops y computadoras */
@media (min-width: 992px) {
  .sidebar {
	max-width: 20%;
    transform: translateX(0);
    visibility: visible;
  }

  .main-content {
    margin-left: 20%; /* Ancho de la barra lateral */
  }
}

/* Laptops y computadoras con monitores wide */
@media (min-width: 1200px) {
  .sidebar {
	max-width: 18%;
    transform: translateX(0);
    visibility: visible;
  }

  .main-content {
    margin-left: 18%; /* Ancho de la barra lateral */
  }
}

.btn-toggle-nav li {
    border-bottom: 1px solid var(--bs-secondary);
	width: 80%;
	margin: auto;
}

.btn-toggle-nav li:last-child {
    border-bottom: none;
}